<div class="fixed-action-btn">
  <a class="btn-floating btn-large red" {{action 'openContactModal'}}>
    {{material-icon "add"}}
  </a>
</div>

<div class="row">
  <div class="col s12 center-align">
    <h3>Lista de Contactos</h3>
  </div>
</div>

<div class="row">
  {{#each model.contacts as |contact|}}
    {{contact-card contact=contact
                   clickAction=(action "showDetails")
                   editAction=(action "openContactModal")}}
  {{/each}}
</div>
